.aside {
  height: 91rem;
  width: 3%;
  background-color: #e2422e; }
  .aside a {
    text-decoration: none;
    margin: 0.3rem 0; }
    .aside a .fab {
      color: white; }
    .aside a .fas {
      color: white; }

.page {
  width: 97%; }

.header .accord .accordion {
  width: 100%; }
.header .accord .card-body {
  font-size: 0.8rem; }
.header .bHaut {
  background-color: #0e0e0e; }
.header .hNav {
  background-color: #efefef; }
  .header .hNav .hNavSub {
    display: flex;
    align-items: center;
    font-size: 0.8rem; }
    .header .hNav .hNavSub .drop {
      display: flex;
      justify-content: center; }
    .header .hNav .hNavSub .dropdown {
      width: 50%; }
      .header .hNav .hNavSub .dropdown a {
        height: 80%;
        margin-top: 0.2rem;
        font-size: 0.8rem; }
      .header .hNav .hNavSub .dropdown .dropdown-menu {
        width: 50%; }
.header .gNav {
  display: flex !important;
  justify-content: flex-end !important;
  flex-direction: column;
  background-color: #c2c2c2; }
.header .menu1 {
  background-color: #96c30f; }
.header .menu2 {
  background-color: #3eaec1; }
.header .menu3 {
  background-color: #f37234; }
.header .menu4 {
  background-color: #9c67d1; }
.header h2 {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: bolder; }
.header .bNav img {
  width: 100%; }
.header .btn {
  color: black;
  background-color: #f0f0f0;
  border-radius: 0 !important;
  width: 100% !important; }
.header .search {
  color: #515151;
  background-color: #f0f0f0;
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem; }

.main {
  background-color: white; }
  .main span {
    border-bottom: 3px solid #e0422e; }
  .main h2 {
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-weight: bolder;
    color: #e2422e; }
  .main .mainTop .card {
    margin: 0.3rem; }
    .main .mainTop .card:not(.card2) {
      height: 98.5%; }
    .main .mainTop .card h5 {
      font-size: 1rem; }
  .main .mainTop .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .main .mainTop .commerce span {
    border-bottom: 3px solid #9ec315; }
  .main .mainTop .loisirs span {
    border-bottom: 3px solid #f36e34; }
  .main .mainTop .culture span {
    border-bottom: 3px solid #3daec2; }
  .main .fiveCol {
    width: 20%; }
    .main .fiveCol a {
      text-decoration: none;
      color: black;
      font-size: 0.6rem; }
    .main .fiveCol .hoverImg {
      color: black; }
      .main .fiveCol .hoverImg .overlayImg {
        display: none; }
      .main .fiveCol .hoverImg:hover {
        background-color: black;
        color: white; }
        .main .fiveCol .hoverImg:hover a {
          color: white; }
        .main .fiveCol .hoverImg:hover img {
          opacity: 20%;
          background-color: black; }
        .main .fiveCol .hoverImg:hover .overlayImg {
          display: block; }
  .main .photo {
    margin: 0.5rem; }
    .main .photo .txt {
      padding-top: 2.5rem;
      font-size: 0.7rem;
      font-weight: bolder; }
  .main .zoom .overlayImg {
    display: none;
    height: 70%;
    width: 70%; }
  .main .zoom:hover {
    background-color: black;
    color: white; }
    .main .zoom:hover a {
      color: white; }
    .main .zoom:hover img {
      background-color: black; }
    .main .zoom:hover .overlayImg {
      display: block;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      background-color: #c13726;
      opacity: 80%; }
  .main .mosaic {
    opacity: 80%;
    background-color: black; }
  .main p {
    font-size: 0.8rem; }
  .main .mosaic2 .card1 .topCard {
    background-color: #308080;
    box-shadow: inset 0px 0px 100px;
    height: 10rem; }
  .main .mosaic2 .card1 .card-body {
    background-color: #308080;
    color: white; }
    .main .mosaic2 .card1 .card-body a {
      width: 100%;
      text-decoration: none;
      color: white;
      font-size: 0.65rem; }
  .main .mosaic2 .card2 .topCard {
    background-color: #e2422e;
    box-shadow: inset 0px 0px 100px;
    height: 10rem; }
  .main .mosaic2 .card2 .card-body {
    background-color: #e2422e;
    color: white; }
    .main .mosaic2 .card2 .card-body a {
      width: 100%;
      text-decoration: none;
      color: white;
      font-size: 0.65rem; }
  .main .mosaic2 .card3 .topCard {
    background-color: #89b5a4;
    box-shadow: inset 0px 0px 100px;
    height: 10rem; }
  .main .mosaic2 .card3 .card-body {
    background-color: #89b5a4;
    color: white; }
    .main .mosaic2 .card3 .card-body a {
      width: 100%;
      text-decoration: none;
      color: white;
      font-size: 0.65rem; }
  .main .mosaic2 .card4 .topCard {
    background-color: #55616f;
    box-shadow: inset 0px 0px 100px;
    height: 10rem; }
  .main .mosaic2 .card4 .card-body {
    background-color: #55616f;
    color: white; }
    .main .mosaic2 .card4 .card-body a {
      width: 100%;
      text-decoration: none;
      color: white;
      font-size: 0.65rem; }
  .main .newsletter {
    line-height: 0.5rem;
    background-color: #308080;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .newsletter h6 {
      padding-top: 0.5rem; }
    .main .newsletter input {
      border: none;
      border-bottom: solid 1.5px #4c8e95;
      background-color: #308080;
      outline: none; }
      .main .newsletter input::placeholder {
        color: #2e3136; }
    .main .newsletter a {
      border: solid 2px white;
      border-radius: 0;
      text-decoration: none;
      color: white; }
  .main .five {
    background-color: #868689;
    display: flex;
    width: 100%; }
    .main .five .fiveCol {
      color: white;
      font-size: 0.8rem; }
      .main .five .fiveCol li {
        list-style: none;
        margin: 0.2rem 0; }
        .main .five .fiveCol li:nth-child(1) {
          margin-top: 1rem;
          margin-bottom: 2rem;
          font-weight: bolder; }
        .main .five .fiveCol li i {
          margin-right: 0.8rem; }

.seven {
  display: flex;
  width: 100%; }

.sevenCol {
  width: 14.285%;
  background-color: #868689; }

.cell {
  border: 1px solid black;
  text-align: center;
  flex-basis: 33.3333%;
  flex-grow: 0;
  flex-shrink: 0; }

@media screen and (max-width: 767px) {
  .aside {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    width: 100%; }

  .page {
    width: 100%; }

  .hNav {
    display: none; }

  .main .fiveCol {
    width: 100%; }

  .five .fiveCol {
    text-align: center;
    max-width: 95%;
    margin: auto; }
    .five .fiveCol ul {
      padding: 0; }

  .sevenCol {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 1024px; }

  .aside {
    height: 100rem; }

  .marg {
    margin-right: 5rem; } }

/*# sourceMappingURL=style.css.map */
