@mixin borderBottom($color){
    border-bottom: 3px solid $color;
}
@mixin cardBody ($bgcolor) {
    
}
@mixin shadowCard($bgcolor) {
    .topCard {
        background-color: $bgcolor;
        box-shadow: inset 0px 0px 100px;
        height: 10rem;
    }
    .card-body {
        background-color: $bgcolor;
        color: white;
        a {
            width: 100%;
            text-decoration: none;
            color: white;
            font-size: 0.65rem;
        }
    }
}


.aside {
    height: 91rem;
    width: 3%;
    background-color:#e2422e;
    a {
        text-decoration: none;
        margin: 0.3rem 0;
        .fab {
            color: white;
        }
        .fas {
            color: white;
        }
    }
}
.page {
    width: 97%;
}
.header {
    .accord {
        .accordion {
            width: 100%;

        }
        .card-body {
            font-size: 0.8rem;
        }
    }
    .bHaut {
        background-color: rgb(14, 14, 14);

    }
    .hNav {
        background-color: #efefef;
        .hNavSub {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            .drop {
                display: flex;
                justify-content: center;
                
            }
            .dropdown {
                width: 50%;
                a {
                    height: 80%;
                    margin-top: 0.2rem;
                    font-size: 0.8rem;
                }
                .dropdown-menu {
                    width: 50%;
                }
            }
        }
    }
    .gNav {
        display: flex !important;
        justify-content: flex-end !important;
        flex-direction: column;
        background-color: rgb(194, 194, 194);
    }
    .menu1 {
        background-color: #96c30f;
    }
    .menu2 {
        background-color: #3eaec1;
    }
    .menu3 {
        background-color: #f37234;
    }
    .menu4 {
        background-color: #9c67d1;
    }
    h2 {
        margin-top: 1rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .bNav {
        img {
            width: 100%;
        }
    }
    .btn {
        color: black;
        background-color: #f0f0f0;
        border-radius: 0 !important; 
        width: 100% !important;
    }
    .search {
        color: #515151;
        background-color: #f0f0f0;
        padding-top: 1rem;
        text-align: center;
        font-size: 1rem;
    }
}

.main {
    background-color: white;
    span {
        @include borderBottom(#e0422e);

    }
    h2 {
        margin-left: 0.5rem;
        margin-top: 2rem;
        font-weight: bolder;
        color: #e2422e;
    }
    .mainTop {
        .card {
            margin: 0.3rem;
            &:not(.card2) {
                height: 98.5%;
            }
            h5 {
                font-size: 1rem;
            }
        }
        // .bottom {
        // }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .commerce {
            span {
                @include borderBottom(#9ec315)
            }

        }
        .loisirs {
            span {
                @include borderBottom(#f36e34)
            }
        }
        .culture {
            span {
                @include borderBottom(#3daec2)
            }
        }
    }
    .fiveCol {
        width: 20%;
        a {
            text-decoration: none;
            color: black;
            font-size: 0.6rem;
        }
        .hoverImg {
            color: black;
            .overlayImg {
                display: none;
            }
            &:hover {
                background-color: black;
                color: white;
                a {
                    color: white;
                }
                img {
                    opacity: 20%;
                    background-color: black;
                }
                .overlayImg {
                    display: block;
                }
            }
        }
    }
    .photo {
        margin: 0.5rem;
        .txt {
            padding-top: 2.5rem;
            font-size: 0.7rem;
            font-weight: bolder;
        }
    }
    .zoom {
        .overlayImg {
            display: none;
            height: 70%;
            width: 70%;
        }
        &:hover {
            background-color: black;
            color: white;
            a {
                color: white;
            }
            img {
                background-color: black;
            }
            .overlayImg {
                display: block;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: auto;
                background-color: #c13726;
                opacity: 80%;
                // align-items: center;
            }
        }
    }
    .mosaic {
        opacity: 80%;
        background-color: black;
    }
    p {
        font-size: 0.8rem;
    }
    .mosaic2 {
        .card1 {
            @include shadowCard(#308080);
        }
        .card2 {
            @include shadowCard(#e2422e);
        }
        .card3 {
            @include shadowCard(#89b5a4);
        }
        .card4 {
            @include shadowCard(#55616f);
        }
    }
    .newsletter {
        line-height: 0.5rem;
        background-color: #308080;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        h6 {
            padding-top: 0.5rem;
        }
        input {
            border: none;
            border-bottom: solid 1.5px #4c8e95;
            background-color: #308080;
            outline: none;
            &::placeholder {
                color: #2e3136;
            }
        }
        a {
            border: solid 2px white;
            border-radius: 0;
            text-decoration: none;
            color: white;
        }
    }
    .five {
        background-color: #868689;
        display: flex;
        width: 100%;
        .fiveCol {
            color: white;
            font-size: 0.8rem;
            li {
                list-style: none;
                margin: 0.2rem 0;
                &:nth-child(1) {
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    font-weight: bolder;
                }
                i{
                    margin-right: 0.8rem;
                }
            }
        }
    }
}
.seven {
    display: flex;
    width: 100%;
}
.sevenCol {
    width: 14.285%;
    background-color: #868689;
    // &:nth-child(2n+1) {
    //     background-color: lightgray;
    // }
}
.cell {
    border: 1px solid black;
    text-align: center;
    flex-basis: 33.3333%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @media screen and (max-width : 767px) {
      .aside {
          display: flex;
          justify-content: space-around;
          height: 5rem;
          width: 100%;
      }
      .page {
          width: 100%;
      }
      .hNav {
          display: none;
      }
      .main {
          .fiveCol {
              width: 100%;
          }
      }
          .five {

              .fiveCol {
                  text-align: center;
                  max-width: 95%;
                  margin: auto;
                  ul {
                      padding: 0;
                  }
              }
          }

      .sevenCol {
          width: 100%;
      }
  }
  @media (min-width: 768px) and (max-width : 1023px) {
    //   * {margin:0; padding: 0;}
    .container {
        max-width: 1024px;
    }
    .aside {
        height: 100rem;
    }
    .marg {
        margin-right: 5rem;
    }
}

